* {
  padding: 8px;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #111;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40em;
}
button {
    cursor: pointer;
    margin: 0 5px;
    padding: 10px 30px;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: 0;
    color: #fff;
    transition: all ease 300ms;
  }
  button:hover {
    color: #333;
    background: #fff;
  }

